<!-- mixin html content -->
<div class="page-content">
    <!-- 霸屏时刻 -->
    <div class="module-hold-screen">
        <div class="title sprite-title-s title-bp"></div>
        <div class="king-block">
            <div class="bpw-logo"></div>
            <div class="bp-rule sprite-btn-s btn-bp" @click="showBpPopup=true"></div>
            <div class="bpw-con">
                <div class="left-con">
                    <div class="avatar">
                        <img :src="holdScreenKingData && holdScreenKingData.headPic" alt="">
                    </div>
                    <p class="name txt-of">{{ holdScreenKingData && holdScreenKingData.nickname }}</p>
                </div>
                <div class="right-con" v-if="holdScreenKingData && holdScreenKingData.show!=='hide'">
                    <p v-if="holdScreenKingData && holdScreenKingData.isTop">您的霸气无人能挡！<br />已经霸屏{{ holdScreenKingData && holdScreenKingData.times }}次！<br />要{{ holdScreenKingData && holdScreenKingData.timesDiff }}次才会被超越哦！</p>
                    <p v-else>{{ holdScreenKingData && holdScreenKingData.nickname }}霸屏高达{{ holdScreenKingData && holdScreenKingData.times }}次，<br />霸气无人能挡！！<br />您还要霸屏{{ holdScreenKingData && holdScreenKingData.timesDiff }}次才能超越哦！</p>
                </div>
            </div>
        </div>
        <div class="now-block">
            <div class="sub-title now-title"><span ref="countdown" class="countdown"></span></div>
            <div class="now-con">
                <div class="activeing-group" v-if="![0, -1].includes(activityStatus)">
                    <div class="now-list-con" v-if="nowHoldScreenData">
                        <div class="hold-list-item">
                            <div class="item-1">
                                <img :src="nowHoldScreenData.userHeadPic" alt="">
                            </div>
                            <div class="item-2">
                                <p class="name txt-of">{{ nowHoldScreenData.userName }}</p>
                                <div class="icon"></div>
                            </div>
                            <div class="item-3" @click="goRoom(nowHoldScreenData)">
                                <img :src="nowHoldScreenData.modHeadPic" alt="">
                            </div>
                            <div class="item-4">
                                <p class="name txt-of">{{ nowHoldScreenData.modName }}</p>
                            </div>
                            <div class="item-5">
                                <img :src="nowHoldScreenData.icon" alt="">
                            </div>
                            <div class="item-6">
                                <p class="name txt-of">{{ nowHoldScreenData.giftName.split(',')[0] }}</p>
                                <p class="name txt-of">{{ nowHoldScreenData.giftName.split(',')[1] }}</p>
                            </div>
                        </div>
                        <div class="bp-tip-now txt-of">tip: 一次性赠送礼物价值高于当前霸屏礼物即可抢占当前霸屏位。</div>
                    </div>
                    <p v-else class="bp-tip">一次性送出价值≥52000{{ giftPer }}的活动礼物，即可与主播一起抢占全站直播间霸屏位。</p>
                </div>
                <div class="actived-group" v-else>
                    <p class="bp-tip">{{ activityStatus===0?'活动未开始~':'活动已结束~' }}</p>
                </div>
            </div>
        </div>
        <div class="history-block">
            <div class="sub-title his-title"></div>
            <div class="his-con scroll-up-wrapper">
                <div class="tip" v-if="!hisHoldScreenList.length">快去霸屏，享受全站瞩目！</div>
                <div class="hold-list-con history-rollup-holdscreen scroll-up-container" v-if="hisHoldScreenList.length">
                    <div class="hold-list-item" v-for="item in hisHoldScreenList">
                        <div class="item-1">
                            <img :src="item.userHeadPic" alt="">
                        </div>
                        <div class="item-2">
                            <p class="name txt-of">{{ item.userName }}</p>
                            <div class="icon"></div>
                        </div>
                        <div class="item-3">
                            <img :src="item.modHeadPic" alt="">
                        </div>
                        <div class="item-4">
                            <p class="name txt-of">{{ item.modName }}</p>
                        </div>
                        <div class="item-5">
                            <img :src="item.icon" alt="">
                        </div>
                        <div class="item-6">
                            <p class="name txt-of">{{ item.giftName.split(',')[0] }}</p>
                            <p class="name txt-of">{{ item.giftName.split(',')[1] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 宠爱限定 -->
    <div class="module-gift">
        <div class="title sprite-title-s title-xd"></div>
        <div class="gift-container">
            <div class="gift-block">
                <div class="gift-pic">
                    <img src="${require('./images/gift-merry.png')}" alt="">
                </div>
                <div class="tips">梦幻婚礼<br />9999{{ giftPer }}/个</div>
                <div class="gift-btn">
                    <div class="btn-look sprite-btn-s preview" @click="preview('merry')"></div>
                    <div v-if="[1, 2, 3, 4].includes(activityStatus)" class="btn-buy sprite-btn-s purchase" @click="showBuyPopup"></div>
                </div>
            </div>
            <div class="gift-block">
                <div class="gift-pic">
                    <img src="${require('./images/gift-flower.png')}" alt="">
                </div>
                <div class="tips">永生花<br />10{{ giftPer }}/个</div>
                <div class="gift-btn">
                    <div class="btn-look sprite-btn-s preview" @click="preview('flower')"></div>
                    <div class="introduce sprite-btn-s gift-flower-tip" @click="giftTips">
                        <!-- <div class="">通过活动玩法获得，主播无分成，价值520宠爱值。</div> -->
                    </div>
                </div>
            </div>        
        </div>
    </div>
    <!-- 寻爱cp大作战 -->
    <div class="module-rank">
        <div class="title sprite-title-s title-rank"></div>
        <div class="rank-container">
            <div class="tab-group">
                <div class="tab rw-show sprite-tab-s tab-rw-show" v-show="currentRankTab==='rw'"></div>
                <div class="tab rw-hide sprite-tab-s tab-rw-hide" v-show="currentRankTab==='cp'" @click="changeRankTab('rw')"></div>
                <div class="tab cp-show sprite-tab-s tab-cp-show" v-show="currentRankTab==='cp'"></div>
                <div class="tab cp-hide sprite-tab-s tab-cp-hide" v-show="currentRankTab==='rw'" @click="changeRankTab('cp')"></div>
            </div>
            <!-- 入围之战 2月11号 -->
            <div class="rw-rank-con" v-if="currentRankTab==='rw'">
                <div class="rw-rank-subtitle"></div>
                <div class="rw-list-con">
                    <pc-scroller class="rw-rank-scroller" ref="rw-rank-scroller" thumb-color="rgba(252, 132, 137, 1)">
                        <div class="rw-list-item" v-for="(item, index) in rwRankList">
                            <span class="keys">{{ index + 1 }}</span>
                            <div class="avatar">
                                <div class="pic" @click="goRoom(item)">
                                    <span class="live" v-if="item.isPlaying"></span>
                                    <img :src="item.headPic" alt="">
                                </div>
                                <div class="name">
                                    <p class="txt-of">{{ item.nickname }}</p>
                                    <span :class="['level_icon', 'm_level_icon_'+item.level]"></span>
                                </div>
                            </div>
                            <div class="value txt-of">{{ item.score }}</div>
                            <div class="users">
                                <img v-for="subItem in item.top3Users" :src="subItem.headPic" alt="">
                                <img v-for="subItem in (3-item.top3Users.length)" src="${require('./images/xwyd-2.jpg')}" alt="">
                                <!-- <template v-if="item.top3Users.length > 3">
                                    <img v-for="subItem in item.top3Users.slice(0,3)" :src="item.headPic" alt="">
                                </template>
                                <template v-else>
                                    <img v-for="subItem in item.top3Users" :src="item.headPic" alt="">
                                    <img v-for="subItem in (3-item.top3Users.length)" src="${require('./images/xwyd-2.jpg')}" alt="">
                                </template> -->
                            </div>
                            <div class="more sprite-btn-s arrow-right" v-if="item.userCount>3" @click="changeContributionPopup(item.id)"></div>
                        </div>
                    </pc-scroller>
                </div>
                <p class="rw-tip">当前只展示前60名主播</p>
            </div>
            <!-- CP之争 2月12号-2月14号 -->
            <div class="cp-rank-con" v-if="currentRankTab==='cp'">
                <!-- 天生一对、佳偶天成、神仙眷侣 -->
                <div class="category-tabs">
                    <div class="tab tsyd">
                        <div class="pic">
                            <div class="avatar" v-show="currentCpTab==='tsyd'">
                                <img v-if="cpRankList.length && activityStatus===-1" :src="cpRankList[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                            <div :class="currentCpTab==='tsyd'?'heart-show':'heart-hide'"></div>
                            <div class="avatar" v-show="currentCpTab==='tsyd'">
                                <img v-if="cpRankList.length && activityStatus===-1 && cpRankList[0].top3Users[0]" :src="cpRankList[0].top3Users[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                        </div>
                        <div :class="['tb-btn', 'sprite-tab-s', currentCpTab==='tsyd'?'tsyd-1':'tsyd-2']" @click="changeCPTab('tsyd')"></div>
                    </div>
                    <div class="tab jotc">
                        <div class="pic">
                            <div class="avatar" v-show="currentCpTab==='jotc'">
                                <img v-if="cpRankList.length && activityStatus===-1" :src="cpRankList[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                            <div :class="currentCpTab==='jotc'?'heart-show':'heart-hide'"></div>
                            <div class="avatar" v-show="currentCpTab==='jotc'">
                                <img v-if="cpRankList.length && activityStatus===-1 && cpRankList[0].top3Users[0]" :src="cpRankList[0].top3Users[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                        </div>
                        <div :class="['tb-btn', 'sprite-tab-s', currentCpTab==='jotc'?'jotc-1':'jotc-2']" @click="changeCPTab('jotc')"></div>
                    </div>
                    <div class="tab sxjl">
                        <div class="pic">
                            <div class="avatar" v-show="currentCpTab==='sxjl'">
                                <img v-if="cpRankList.length && activityStatus===-1" :src="cpRankList[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                            <div :class="currentCpTab==='sxjl'?'heart-show':'heart-hide'"></div>
                            <div class="avatar" v-show="currentCpTab==='sxjl'">
                                <img v-if="cpRankList.length && activityStatus===-1 && cpRankList[0].top3Users[0]" :src="cpRankList[0].top3Users[0].headPic" alt="">
                                <img v-else src="${require('./images/xwyd-1.jpg')}" alt="">
                            </div>
                        </div>
                        <div :class="['tb-btn', 'sprite-tab-s', currentCpTab==='sxjl'?'sxjl-1':'sxjl-2']" @click="changeCPTab('sxjl')"></div>
                    </div>
                </div>
                <!-- 时间Tab 2月12、2月14、2月14 -->
                <div class="time-tabs">
                    <div :class="['tab', 'sprite-tab-s', currentTimeTab==='20进10'?'date-212-show':'date-212-hide']" @click="changeTimeTab('20进10')"></div>
                    <div class="hr-bg"></div>
                    <div :class="['tab', 'sprite-tab-s', currentTimeTab==='10进5'?'date-213-show':'date-213-hide']" @click="changeTimeTab('10进5')"></div>
                    <div class="hr-bg"></div>
                    <div :class="['tab', 'sprite-tab-s', currentTimeTab==='cp之争'?'date-214-show':'date-214-hide']" @click="changeTimeTab('cp之争')"></div>
                </div>
                <!-- pk列表 -->
                <div class="pk-list-con" v-if="['20进10', '10进5'].includes(currentTimeTab)">
                    <div class="pk-list-item" v-for="(item, index) in pkRankList" :key="index">
                        <div class="pk-bar">
                            <div class="left-bar" :ref="'left-bar-'+index">{{ item.fromScore }}</div>
                            <div class="mark"></div>
                            <div class="right-bar" :ref="'right-bar-'+index">{{ item.toScore }}</div>
                        </div>
                        <div class="pk-info">
                            <div class="mod-block">
                                <div v-if="item.fromIsWinner!=='hide' && item.fromIsWinner!==null" :class="['pk-status', item.fromIsWinner?'pk-winer':'pk-loser']"></div>
                                <div class="avatar" @click="goRoom({rid:item.fromRid, mid:item.fromMid})">
                                    <img :src="item.fromHeadPic" alt="">
                                    <div class="flower-left"></div>
                                    <div class="flower-right"></div>
                                </div>
                                <div class="name">
                                    <p class="txt-of">{{ item.fromNickname }}</p>
                                    <span :class="['level_icon', 'm_level_icon_'+item.fromLevel]"></span>
                                </div>
                                <div class="value txt-of">宠爱值:{{ item.fromScore }}</div>
                                <div class="users">
                                    <img v-for="subItem in item.fromTop3Users" :src="subItem.headPic" alt="">
                                    <img v-for="subItem in (3-item.fromTop3Users.length)" src="${require('./images/xwyd-2.jpg')}" alt="">
                                    <div class="more sprite-btn-s arrow-right" v-if="item.fromUserCount>3" @click="changeContributionPopup(item.fromMid)"></div>
                                </div>
                            </div>
                            <div class="pc-vs-bg"></div>
                            <div class="mod-block">
                                <div v-if="item.toIsWinner!=='hide' && item.toIsWinner!==null" :class="['pk-status', item.toIsWinner?'pk-winer':'pk-loser']"></div>
                                <div class="avatar" @click="goRoom({rid:item.toRid, mid:item.toMid})">
                                    <img :src="item.toHeadPic" alt="">
                                    <div class="flower-left"></div>
                                    <div class="flower-right"></div>
                                </div>
                                <div class="name">
                                    <p class="txt-of">{{ item.toNickname }}</p>
                                    <span :class="['level_icon', 'm_level_icon_'+item.toLevel]"></span>
                                </div>
                                <div class="value">宠爱值:{{ item.toScore }}</div>
                                <div class="users">
                                    <img v-for="subItem in item.toTop3Users" :src="subItem.headPic" alt="">
                                    <img v-for="subItem in (3-item.toTop3Users.length)" src="${require('./images/xwyd-2.jpg')}" alt="">
                                    <div class="more sprite-btn-s arrow-right" v-if="item.toUserCount>3" @click="changeContributionPopup(item.toMid)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- cp列表 2月14 -->
                <div class="cp-list-con" v-if="currentTimeTab==='cp之争'">
                    <div class="cp-rank-subtitle"></div>
                    <div class="cp-list-con">
                        <div :class="['cp-item', {'cp-item-first':index===0}]" v-for="(item, index) in cpRankList" :key="index">
                            <div class="cp-tip" v-if="index===1">14日23:59:59结算时，第一名主播和其贡献最大的<br />用户成为“{{ currentCpTab==='tsyd'?'天生一对':currentCpTab==='jotc'?'佳偶天成':'神仙眷侣' }}”CP</div>
                            <div class="cp-list-item">
                                <span class="keys">{{ index + 1 }}</span>
                                <div class="avatar" @click="goRoom(item)">
                                    <div class="pic">
                                        <span class="live" v-if="item.isPlaying"></span>
                                        <img :src="item.headPic" alt="">
                                        <div class="flower" v-if="index === 0"></div>
                                        <div class="crown" v-if="index === 0"></div>
                                    </div>
                                    <div class="name">
                                        <p class="txt-of">{{ item.nickname }}</p>
                                        <span :class="['level_icon', 'm_level_icon_'+item.level]"></span>
                                    </div>
                                </div>
                                <div class="value txt-of">{{ item.score }}</div>
                                <div class="users">
                                    <img v-for="subItem in item.top3Users" :src="subItem.headPic" alt="">
                                    <img v-for="subItem in (3-item.top3Users.length)" src="${require('./images/xwyd-2.jpg')}" alt="">
                                </div>
                                <div class="more sprite-btn-s arrow-right" v-if="item.userCount>3" @click="changeContributionPopup(item.id)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 主播个人中心 -->
        <div class="self-center" v-if="this.isLogin && this.isMod && currentRankTab === 'rw' && myModRank">
            <div class="block-1">
                <div class="avatar" @click="goRoom(myModRank)">
                    <img :src="myModRank.headPic" alt="">
                    <span class="live" v-if="myModRank.isPlaying"></span>
                </div>
                <div class="name">
                    <p class="txt-of">{{ myModRank.nickName }} </p>
                    <span :class="['level_icon', 'm_level_icon_'+myModRank.level]"></span>
                </div>
            </div>
            <div class="block-2">
                <div class="item">
                    <p>{{ myModRank.pairInfos[0].name }}</p>
                    <span>{{ myModRank.pairInfos[0].value }}</span>
                </div>
                <div class="item">
                    <p>{{ myModRank.pairInfos[1].name }}</p>
                    <span>{{ myModRank.pairInfos[1].value }}</span>
                </div>
            </div>
            <div class="block-3">
                <div class="item">
                    <p>{{ myModRank.pairInfos[2].name }}</p>
                    <span>{{ myModRank.pairInfos[2].value }}</span>
                </div>
                <div class="item">
                    <p>{{ myModRank.pairInfos[3].name }}</p>
                    <span>{{ myModRank.pairInfos[3].value }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <footer class="copyright">在法律允许的范围内，本活动的解释权归平台所有</footer>

    <!-- 活动规则、永生花按钮 -->
    <div class="popup-btn">
        <div class="rule-btn sprite-btn-s btn-rule" @click="showRulePopup=true"></div>
        <div class="flower-btn sprite-btn-s btn-forever-flower" @click="changeFlowerPopup"></div>
    </div>

    <!-- 霸屏规则弹窗 -->
    <div class="popup-module" v-if="showBpPopup">
        <div class="popup-bp-container">
            <div class="title sprite-title-s title-bp-rule"></div>
            <i class="close" @click="showBpPopup=false">关闭</i>
            <div class="content">
                <p class="item"><i>1</i>活动期间，用户一次性送出价值≥52000{{ giftPer }}的活动礼物，即可与主播一起抢占全站直播间霸屏位，享受全站瞩目。点击霸屏位，即可跳转至当前霸屏主播直播间。（app端用户请更新至V5.5.6及以上版本查看霸屏）</p>
                <p class="item"><i>2</i>霸屏位展示5分钟，在此期间，一次性赠送活动礼物价值高于当前霸屏礼物即可抢占当前霸屏位。</p>
                <p class="item"><i>3</i>霸屏5分钟结束后，最先一次性赠送价值≥52000{{ giftPer }}的活动礼物抢占霸屏位。</p>
                <p class="item"><i>4</i>霸屏主播在霸屏期间因违反平台公约被封号、禁播，霸屏位隐藏。最先一次性赠送价值≥52000{{ giftPer }}的活动礼物抢占霸屏位。</p>
                <p class="item"><i>5</i>霸屏次数最多的用户荣登活动页面“霸屏王”宝座，并获得100000{{ giftPer }}奖励。若有相同次数，按照先到先得原则。</p>
            </div>
        </div>
    </div>

    <!-- 购买弹窗 -->
    <div class="popup-module" v-if="showPurchasePopup">
        <div class="popup-purchase-container">
            <i class="close" @click="showPurchasePopup=false">X</i>
            <div class="content">
                <div class="prucharse-step-1" v-if="purchaseStep === 1">
                    <div class="num">购买：<input type="text" @input="inputRuleReg" v-model="giftNumber" autofocus>个</div>
                    <div class="price">价格：<span>{{ giftNumber * 9999 }}</span>{{ giftPer }}</div>
                    <div class="btn btn-purchase sprite-btn-s purchase" @click="confirmPay"></div>
                </div>
                <div class="prucharse-step-2" v-if="purchaseStep === 2">
                    <div class="num">余额不足，快去充值吧！</div>
                    <div class="btn-group">
                        <div class="btn btn-no sprite-btn-s cancel" @click="showPurchasePopup=false"></div>
                        <div class="btn btn-recharge sprite-btn-s recharge" @click="goRecharge"></div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

    <!-- 贡献榜弹窗 -->
    <div class="popup-module" v-if="showContributionPopup">
        <div class="popup-contribution-container">
            <div class="title sprite-title-s title-contribution"></div>
            <i class="close" @click="showContributionPopup=false">关闭</i>
            <div class="content">
                <div class="tip">统计活动全程，为该主播贡献宠爱值的用户排名</div>
                <div class="contribution-con">
                    <div class="sub-title"></div>
                    <div class="contribution-list-con">
                        <pc-scroller class="contribution-scroller" ref="contribution-scroller" thumb-color="rgba(252, 132, 137, 1)">
                            <div class="contribution-list-item" v-for="(item, index) in currentContributionList">
                                <span class="keys">{{ index + 1 }}</span>
                                <div class="avatar">
                                    <div class="pic">
                                        <img :src="item.headPic" alt="">
                                    </div>
                                    <div class="name">
                                        <p class="txt-of">{{ item.nickname }}</p>
                                        <!-- <span :class="['level_icon', 'u_level_icon_'+item.level]"></span> -->
                                    </div>
                                </div>
                                <div class="value txt-of">{{ item.score }}</div>
                            </div>
                        </pc-scroller>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 永生花弹窗 -->
    <div class="popup-module" v-if="showFlowerPopup">
        <div class="popup-flower-container">
            <div class="title sprite-title-s title-flower"></div>
            <i class="close" @click="showFlowerPopup=false">关闭</i>
            <div class="content">
                <div class="details">
                    <div class="pic"></div>
                    <div class="info">
                        <div class="note">1份阳光、水分、养料就可以养成一株象征着“永恒之爱”的永生花哦~</div>
                        <div class="tip-state">
                            <!-- <div class="tip">永生花养成之后，放入背包，10{{ giftPer }}/个，不参与分成，价值520宠爱值哦。获得的阳光、水分、养料仅限当日有效，次日清空。永生花永久有效。</div> -->
                            <div class="tip">
                                <img v-if="giftPer==='克拉'" src="${require('./images/flower-tip1.png')}" alt="">
                                <img v-if="giftPer==='甜蜜'" src="${require('./images/flower-tip2.png')}" alt="">
                                <img v-if="giftPer==='花瓣'" src="${require('./images/flower-tip3.png')}" alt="">
                            </div>
                            <div class="state">
                                <div v-if="foreverFlowerInfo && foreverFlowerInfo.hasFinish" class="txt">今日已完成</div>
                                <div v-else class="today-finish" @click='composeFlower'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="task-con">
                    <div class="task-item task-first">
                        <div :class="foreverFlowerInfo&&foreverFlowerInfo.watchTime>=20?'img':'unimg'"></div>
                        <p class="txt">每日累计观看直播20分钟<span>{{ foreverFlowerInfo && foreverFlowerInfo.watchTime }}/20</span></p>
                        <div :class="['status-unfinish', 'sprite-btn-s', foreverFlowerInfo&&foreverFlowerInfo.watchTime>=20?'finished':'unfinish']" @click="redirectRoom(1)"></div>
                    </div>
                    <div class="task-item task-second">
                        <div :class="foreverFlowerInfo&&foreverFlowerInfo.hasSpeak?'img':'unimg'"></div>
                        <p class="txt">每日直播间发言1次<span>{{ foreverFlowerInfo && foreverFlowerInfo.hasSpeak }}/1</span></p>
                        <div :class="['status-unfinish', 'sprite-btn-s', foreverFlowerInfo&&foreverFlowerInfo.hasSpeak?'finished':'unfinish']" @click="redirectRoom(2)"></div>
                    </div>
                    <div class="task-item task-third">
                        <div :class="foreverFlowerInfo&&foreverFlowerInfo.hasSendGift?'img':'unimg'"></div>
                        <p class="txt">每日首次送出任意活动礼物(含背包)<span>{{ foreverFlowerInfo &&　foreverFlowerInfo.hasSendGift }}/1</span></p>
                        <div :class="['status-unfinish', 'sprite-btn-s', foreverFlowerInfo&&foreverFlowerInfo.hasSendGift?'finished':'unfinish']" @click="redirectRoom(3)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 规则弹窗 -->
    <div class="popup-module" v-if="showRulePopup">
        <div class="popup-rule-container">
            <div class="title sprite-title-s title-rule"></div>
            <i class="close" @click="showRulePopup=false">关闭</i>
            <div class="content">
                <pc-scroller class="rule-scroller" ref="rule-scroller" thumb-color="rgba(255, 200, 204, 1)">
                    <p class="item"><i>1</i>活动时间：2.11 11:00:00-2.14 23:59:59</p>
                    <p class="item"><i>2</i>活动礼物：</p>
                    <div class="pic">
                        <div class="img rule-img-1">
                            <p>=10{{ giftPer }}</p>
                            <p>=10宠爱值</p>
                        </div>
                        <div class="img rule-img-2">
                            <p>=9999{{ giftPer }}</p>
                            <p>=9999宠爱值</p>
                        </div>
                    </div>
                    <div class="pic">
                        <div class="img rule-img-3">
                            <p>=10{{ giftPer }}</p>
                            <p>=520宠爱值</p>
                        </div>
                    </div>
                    <p class="item"><i>3</i>送出指定数量的只宠你，直播间掉落礼物。每天0点刷新直播间进度条，0点后，集满当前进度条只宠你，再从第一轮（500个只宠你）送出。</p>
                    <div class="pic">
                        <div class="rule-img-4"></div>
                    </div>
                    <p class="item"><i>4</i>入围之战（2.11 11:00:00-2.11 23:59:59）</p>
                    <p class="item">1.按主播累计宠爱值排名，晋级前60名主播。若宠爱值相同，则按先到先得排名。</p>
                    <p class="item">2.入围赛结束后，榜单宠爱值不累计至CP之争阶段；每个主播对应的贡献榜，记录的活动全程的贡献用户。</p>
                    <p class="item"><i>5</i>CP之争（2.12 00:00:00-2.14 23:59:59）</p>
                    <p class="item">1.进入CP之争的60位主播，按照入围赛的排名S形分组至天生一对、佳偶天成、神仙眷侣三个CP赛道，具体如下表所示：</p>
                    <table class="table">
                        <tr><td>赛道</td><td>天生一对</td><td>佳偶天成</td><td>神仙眷侣</td></tr>
                        <tr><td rowspan="20">入围赛排名</td><td>1</td><td>2</td><td>3</td></tr>
                        <tr><td>6</td><td>5</td><td>4</td></tr>
                        <tr><td>7</td><td>8</td><td>9</td></tr>
                        <tr><td>12</td><td>11</td><td>10</td></tr>
                        <tr><td>13</td><td>14</td><td>15</td></tr>
                        <tr><td>18</td><td>17</td><td>16</td></tr>
                        <tr><td>19</td><td>20</td><td>21</td></tr>
                        <tr><td>24</td><td>23</td><td>22</td></tr>
                        <tr><td>25</td><td>26</td><td>27</td></tr>
                        <tr><td>30</td><td>29</td><td>28</td></tr>
                        <tr><td>31</td><td>32</td><td>33</td></tr>
                        <tr><td>36</td><td>35</td><td>34</td></tr>
                        <tr><td>37</td><td>38</td><td>39</td></tr>
                        <tr><td>42</td><td>41</td><td>40</td></tr>
                        <tr><td>43</td><td>44</td><td>45</td></tr>
                        <tr><td>48</td><td>47</td><td>46</td></tr>
                        <tr><td>49</td><td>50</td><td>51</td></tr>
                        <tr><td>54</td><td>53</td><td>52</td></tr>
                        <tr><td>55</td><td>56</td><td>57</td></tr>
                        <tr><td>60</td><td>59</td><td>58</td></tr>
                    </table>
                    <p class="item">2.12日按照11日赛道内的入围赛排名，首尾1V1PK宠爱值，12日23:59:59结算时，双方宠爱值高的晋级13日。13日按照12日赛道内的晋级主播宠爱值排名，首尾1V1PK宠爱值，13日23:59:59结算时，双方宠爱值高的晋级14日。14日每个赛道晋级的5位主播按照宠爱值高低排名，结算时，第一名主播和其活动全程贡献最大的用户成为该赛道CP，并代言该赛道。</p>
                    <p class="item">注：每日结束，主播宠爱值清零，不累计。</p>
                    <p class="item"><i>6</i>活动结束后，以下主播和用户获得奖励。奖励于活动结束的5个工作日陆续发放。</p>
                    <table class="table">
                        <tr><td>身份</td><td>奖励</td></tr>
                        <tr><td>CP主播</td><td>300000{{ giftPer }}、APP端默认搜索7日</td></tr>
                        <tr><td>CP用户</td><td>150000{{ giftPer }}、广播卡*10</td></tr>
                        <tr><td>赛道主播第2名</td><td>60000{{ giftPer }}</td></tr>
                        <tr><td>赛道主播第3名</td><td>40000{{ giftPer }}</td></tr>
                    </table>
                    <p class="item"><i>7</i>活动期间送礼量大，服务器会有一定程度的延迟，请提前10秒冲榜，以免成绩未计入榜单。若发生因服务器延迟，造成成绩未计入榜单情况，平台不予补偿，请谅解！</p>
                </pc-scroller>
            </div>
        </div>
    </div>

    <!-- loading -->
    <loading ref="loading"></loading>
    <!-- toast -->
    <toast ref="toast"></toast>
    <!-- 礼物预览 -->
    <svg-player ref="svgPlayer"></svg-player>

</div>
<!-- mixin html content -->