@activityName: '';
@bf: 108rem; // 1080px -> fontSize -> 108px
@imgUrl: './images';

.level_icon {
    height: 48/@bf !important;
}

.fl-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-ver {
    display: flex;
    align-items: center;
}
.txt-of {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn:active {
    opacity: 0.85;
}

.getSpritePad (@w, @h, @posx, @posy, @pad) {
    background-position: (@posx + @pad)/@bf (@posy + @pad)/@bf;
    width: (@w + @pad*2)/@bf;
    height: (@h + @pad*2)/@bf;
}
.getSprite (@w, @h, @posx, @posy) {
    .getSpritePad(@w, @h, @posx, @posy, 5);
}

.SET_SPRITE () {
    .sprite {
        // background: url('@{imgUrl}/sprite.png') no-repeat;
        // background-size: 0/@bf 0/@bf;
        font-size: 0px;
        display: block;
    }
}
.SET_SPRITE();

#app {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #190344;
    img {
        width: 100%;
        display: block;
    }
}
