@activityName: '';
@bf: 1px*10/7;
@imgUrl: './images';

img {
    font-size: 0px;
}

.fl-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fl-ver {
    display: flex;
    align-items: center;
}
.txt-of {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn {
    cursor: pointer;
}

.btn:active {
    opacity: 0.85;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-wrap {
    height: 62px;
    box-shadow: 0 1px 1px #bfbfbf;
    background-color: #fff;
    position: relative;

    .h-center {
        position: relative;
        line-height: 66px;
        height: 100%;
    }

    .logo {
        position: relative;
        float: left;
        display: block;
        left: 6px;
        top: 14px;
        background: url('./images/icon.png') no-repeat;
        background-size: cover;
        width: 210px;
        height: 38px;
        font-size: 0px;
    }

    .navbar {
        position: relative;
        float: left;
        margin-left: 40px;

        li {
            float: left;
            font-size: 18px;
            position: relative;

            a {
                color: #7f7e7e;
                font-size: 22px;
                margin-left: 0;
                margin-right: 16px;
                padding: 0 8px 11px;
            }

            &.active a {
                color: #ff0071;
                border-bottom: 5px solid #ff0071;
            }

            &:hover a {
                text-decoration: none;
                color: #ff0071;
                border-bottom: 5px solid #ff0071;
            }
        }
    }

    .h-login_info {
        position: relative;
        float: right;
        top: 6px;
        margin-left: 15px;
    }

    .room_login {
        float: right;
        margin-left: 15px;
        top: 16px;
        font-size: 18px;
        color: #7f7e7e;

        span {
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            width: 70px;
            height: 30px;
            line-height: 30px;
            text-align: center;

            &:hover {
                color: #ff0071;
            }
        }
    }

    .avatar_wrap_nickname {
        float: left;
        padding-top: 15px;
        padding-left: 10px;

        span {
            font-size: 14px;
            color: #434242;
            margin-right: 4px;
            white-space: nowrap;
            display: inline-block;
        }

        &.active {
            i {
                transform: rotate(180deg);
            }
        }
    }

    .avatar_wrap_51 {
        float: left;
        border-radius: 51px;
        cursor: pointer;
        width: 51px;
        height: 51px;
        background: url('./images/avatar.png') no-repeat;
        background-size: cover;
    }

    .room_logined {
        display: none;
        height: 100%;
    }

    .room_logined:hover .tuc_wrap,
    .tuc_wrap:hover {
        display: block;
    }

    .header-avatar {
        border-radius: 51px;
        width: 51px;
        height: 51px;
        background: url('./images/avatar.png') no-repeat;
        background-size: cover;
        position: absolute;
        left: 10px;
        top: 20px;
    }

    .tuc_wrap {
        display: none;
        position: absolute;
        top: 63px;
        right: -91px;
        background: #fff;
        z-index: 1001;
        -webkit-box-shadow: 0 2px 5px #B6B6B6;
        box-shadow: 0 2px 5px #B6B6B6;
        padding-bottom: 10px;
    }

    .tuc_title {
        padding: 15px 10px 10px 20px;
        width: 180px;
        height: 60px;
    }

    .tuc_nickname,
    .pp_val {
        margin-left: 50px;
    }

    .tuc_edit_nickname {
        margin-top: 2px;
        margin-left: 50px;
        width: 57px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background: #ff0071;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        cursor: pointer;
    }

    .top_user_center {
        padding: 0 35px;

        li {
            text-align: center;
            font-size: 12px;
            color: #787878;
            border-top: 1px solid #efefef;
            padding-top: 10px;
            cursor: pointer;
            position: relative;
        }
    }
    
    .chat {
        position: relative;

        i {
            background: url('//static.kuaishouvideo.com/src/pc/v4/img/chat/all.png') no-repeat top center;
            background-position: 0 -44px;
            width: 33px;
            height: 21px;
            display: inline-block;
            position: absolute;
            top: 5px;
            right: -15px;
        }
    }
}


.other_login_type li.qq_login:hover,.other_login_type li.wechat_login:hover,.other_login_type li.weibo_login:hover {
    opacity: .6;
}
    
.xg_bg_new {
    background: url(./images/xg_all_new.png) no-repeat
}
    
.rl_wrap {
    width: 607px;
    margin: 0 auto;
    display: none;
}

.rl_controller {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    position: relative
}

.rl_controller li {
    font-size: 20px;
    color: #3c3c3c;
    width: 80px;
    text-align: center;
    padding: 21px 0 10px;
    cursor: pointer
}

.rl_controller li.active {
    color: #ff0071
}

.rl_controller li.line {
    position: absolute;
    height: 4px;
    background: #ff0071;
    left: 0;
    bottom: 0;
    padding: 0
}

.rl_controller li.line.r {
    left: 80px
}

.overlay-inner {
    padding-top: 20px
}

.overlay-inner td {
    padding: 11px 0;
    position: relative
}

.overlay-inner td input {
    vertical-align: middle;
    width: 300px;
    height: 30px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px
}

.overlay-inner td input.login_remember,.overlay-inner td input.register_agree,.overlay-inner td input.sex_phone {
    width: auto
}

.overlay-inner td .btns {
    background: #ff0071;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    border: none;
    height: 36px;
    width: 100%;
    cursor: pointer
}

.overlay-inner td .btns:hover {
    background: #bc125d
}

.overlay-inner td a {
    color: #3c3c3c;
    font-size: 12px
}

.overlay-inner td .auth_code {
    width: 160px;
    margin-right: 10px
}

.overlay-inner td .r_get_auth_code {
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #ff0071;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    cursor: pointer
}

.overlay-inner td .r_get_auth_code:hover {
    background: #bc125d
}

.overlay-inner td .r_get_auth_code.vcode_count {
    background: #9a9a9a
}

.overlay-inner td.reg_sex {
    font-size: 16px;
    color: #3c3c3c;
    padding-bottom: 0
}

.overlay-inner td.reg_sex label {
    margin-right: 30px
}

.overlay-inner td.reg_sex p.error_hint {
    top: 37px
}

.overlay-inner td .hint_login {
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #ddd;
    width: 100%;
    font-size: 12px;
    color: #3c3c3c;
    padding-top: 12px
}

.overlay-inner td .hint_login span {
    color: #ff0071;
    cursor: pointer
}

.overlay-inner td .agree {
    padding: 2px 0
}

.overlay-inner td .agree a {
    color: #ff0071
}

.overlay-inner td p.error_hint {
    position: absolute;
    top: 48px;
    font-size: 12px;
    color: #ff0071;
    padding-left: 10px
}

.overlay-inner td input.error_hint {
    border-color: #da500e
}

.overlay-inner .form_funcs {
    padding: 0
}

.overlay-inner .form_funcs label {
    position: relative;
    top: -3px
}

.overlay-inner td #geePhoneCaptcha,.overlay-inner td .wait_gee_captcha {
    float: left
}

.close_btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99999999;
    padding: 5px;
    background: url(//static.guojiang.tv/pc/v3/img/common/all.png) -63px 5px no-repeat;
    width: 14px;
    height: 14px;
}

.other_login_title {
    font-size: 12px;
    color: #3c3c3c;
    text-align: center;
    padding: 15px 0 10px
}

.other_login_title span {
    color: #c9c9c9
}

#login-form,#registerPhoneForm {
    float: left;
    padding-right: 50px;
    border-right: 1px solid #ddd
}

.other_login_type {
    width: 190px;
    margin: 0 auto 0 50px;
    float: left
}

.other_login_type li {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px
}

.other_login_type li a {
    display: block;
    width: 100%;
    height: 100%
}

.other_login_type li.qq_login {
    background: url(./images/xg_all_new.png) 0 -2px no-repeat;
    width: 200px;
    height: 40px
}

.other_login_type li.weibo_login {
    background: url(./images/xg_all_new.png) 0 -57px no-repeat;
    width: 200px;
    height: 40px
}

.other_login_type li.wechat_login {
    background: url(./images/xg_all_new.png) 0 -111px no-repeat;
    width: 200px;
    height: 40px
}

.hint_register {
    font-size: 12px;
    color: #3c3c3c;
    text-align: right;
    margin-top: 50px;
    padding: 5px 0;
    border-top: 1px solid #ddd
}

.hint_register span {
    color: #ff0071;
    cursor: pointer
}

.cp-footer {
    padding: 20px 0 16px;
    background: #313131;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 100%;
    margin: 0;

    p {
        margin: 10/@bf 0;
    }

    p a {
        color: #fff;
        text-decoration: underline;
    }
}

.bg{
	background: url(./images/all.png) no-repeat top center;
}

body{
	background: #f1f0f0;
}

#app {
    min-height: 800px;
}

.banner{
	background: url(./images//banner.jpg) no-repeat top center;
	height: 404px;
}
.content_wrap{
	width: 1315px;
	margin: 30px auto 0;
}
.content_left{
	width: 1045px;
	.inner_banner{
		background: url(./images/inner_banner.png) no-repeat top center;
		height: 118px;
		margin-bottom: 76px;
		position: relative;
		.hint{
			font-size:14px;
			color: #2e2e2e;
			text-align: center;
			padding-top: 95px;
		}
		.ib_avatar_wrap{
			width: 96px;
			position: absolute;
			&.left{
				left: 239px;
				top:7px;
			}
			&.right{
				right: 239px;
				top:7px;
			}
			img{
				width: 90px;
				height: 90px;
                border-radius: 50%;
                overflow: hidden;
				border: 3px solid #ff338d;
				z-index: 1;
				position: relative;
			}
			p{
				width: 84px;
				height: 20px;
				background: #ff338d;
				text-align: center;
				font-size: 14px;
				color: #ffffff;
				line-height: 20px;
				border-radius: 9px;
				margin: -15px auto;	
				z-index: 2;
				position: relative;
			}
		}
		.phone_animation{
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			height: 100%;
			width: 100%;
		}
	}

	.list{
		li{
			float: left;
			width: 239px;
			height: 304px;
			border-radius: 8px;
			background: #f3f9f8;
			border:1px solid #e7e6e6;
			margin-bottom: 80px;
			margin-right: 27px;
			
			.avatar{
				width: 148px;
				height: 148px;
				border-radius: 50%;
				box-shadow: 0 0 4px 2px #ffd2ea;
				display: block;
                margin: -52px auto 0;
                overflow: hidden;
			}
			.title{
				font-size: 18px;
				color: #4b4b4b;
				text-align: center;
				padding: 10px 0;
				.text{
					position: relative;
				}
				.status_icon{
					.bg;
					background-position:  0 0;
					width: 36px;
					height: 23px;
					display: inline-block;
					position: absolute;
					top: -22px;
					right: -26px;
					&.free{
						background-position: -46px 0;
						width: 36px;
						height: 23px;	
					}
				}
			}
			.label_wrap{
				text-align: center;
				padding-bottom: 10px;
				span{
					width: 39px;
					height: 21px;
					display: inline-block;
					line-height: 21px;
					text-align: center;
					font-size: 12px;
					color: #7a6b6b;
					border-radius: 5px;
					margin-right: 10px;
					background: #ffffff;	
					&:nth-child(3){
						margin-right: 0;
					}
					&:hover{
						background: #ff338d;
						color: #fff;
					}
				}
			}
			.chat_num{
				font-size: 13px;
				color: #7a6b6b;
				text-align: center;
			}
			.star{
				.bg;
				background-position: 0 -27px;
				width: 74px;
				height: 13px;
				display: block;
				margin: 0 auto 10px;
			}
			.voice_wrap{
				width: 121px;
				height: 22px;
				line-height: 22px;
				position: relative;
				border: 1px solid #fa64a8;
				border-radius: 10px;
				margin: 0 auto 17px;
				cursor: pointer;
				&:hover{
					opacity: 0.6;
				}
				.voice_icon{
					.bg;
					background-position: -77px -26px;
					width: 11px;
					height: 14px;
					display: inline-block;
					margin: 4px 0 0 9px;
					&.active{
						background: url(./images/voice.gif);
						width: 8px;
						height: 12px;
						margin-top: 4px;
					}
				}
				.voice_length{
					font-size: 12px;
					color: #ff338d;
					margin-right: 10px;
				}
			}
			hr{
				border: none;
				border-top:1px solid #e4e8e8;
				width: 100%;
			}
			.yue_btn{
				width: 94px;
				height: 23px;
				border: 1px solid #fe0374;
				background: #ff338d;
				border-radius: 15px;
				font-size: 12px;
				color: #ffffff;
				text-align: center;
				line-height: 22px;
				margin: 13px auto;
				display: block;
				cursor: pointer;
				padding: 0;
				&:hover{
					opacity: 0.8;
				}
			}
			&:hover{
				box-shadow:0 0 4px 2px #f7b8d9;
			}
		}
		li:nth-child(4n){
			margin-right: 0;
		}
	}
}
.content_right{
	width: 242px;
	background: #ffffff;
	border-radius: 10px;
	h2{
		width: 208px;
		height: 41px;
		margin: 0 auto;
		border-bottom: 3px solid #e7e7e7;
		text-align: left;
		span{
			font-size: 18px;
			color: #545454;
			border-bottom: 3px solid #fc0f7a;
			margin-bottom: -3px;
			display: inline-block;
		    height: 100%;
		    line-height: 46px;
		}
	}
	ul{
		padding: 0 11px 0 14px;
		li{
			padding: 23px 0 17px 0;
			border-bottom: 2px solid #ededed;
			cursor: pointer;
			&:nth-last-child(1){
				border-bottom: none;
			}
			.avatar_wrap{
				position: relative;
				margin-right: 20px;
				height: 60px;
				.avatar{
					width: 60px;
					height: 60px;
                    border-radius: 50%;
                    overflow: hidden;
					z-index: 2;
					position: relative;
				}
				.avatar_mask{
					position: absolute;
					top:-13px;
					left: -13px;
					z-index: 2;
				}
			}
			.desc_wrap{
				width: 125px;
				height: 60px;
				display: flex;
				flex-direction: column;
				-webkit-justify-content:center;
				justify-content:center;
				.nickname{
					font-size: 14px;
					color: #4b4b4b;
					display: block;
					width: 100%;
					padding-bottom: 5px;
					&:hover{
						color: #ff338d;
					}
				}
				.num{
					font-size: 12px;
					color: #868686;
					display: block;
					width: 100%;
				}
			}
		}
	}
}


@media only screen and (max-width: 1440px) {
    .avatar_wrap_people {
        right: 140px;
    }
}

@media only screen and (max-width: 1366px) {
    .container {
        width: 1000px;
    }

    .navbar {
        margin-left: 10px;

        li {
            // margin: 0;
            a {
                margin: 0;
                font-size: 20px;
                padding: 0 5px 11px;
            }
        }
    }
}
