<!-- webpack.htmlwebpackplugin pc layout 入口html文件 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="wap-font-scale" content="no">
        <meta name="renderer" content="webkit">
        <meta property="qc:admins" content="7261517777656512176375" />

        <meta name="keywords" content="星光直播,人气直播,美女直播,女主播,手机直播,美颜直播,土壕直播,直播间,才艺直播,秀场"/>
        <meta name="description" content="土豪最爱看的美女直播.一个美颜效果最好的聚集超高颜值明星大咖、美女帅哥、热门网红、校花校草、逗比萌妹的手机直播社交平台" />
        <meta name="baidu-site-verification" content="ulQb1ppmog" />

        <link rel="shortcut icon" href="//static.guojiang.tv/mobile/img/common/title_icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="//static.guojiang.tv/mobile/img/common/logo_1.png" sizes="144x144">

        <title><%= htmlWebpackPlugin.options.app.pageTitle %></title>
        <style>
            [v-cloak]{ display:none!important; }
        </style>

        <script type="text/javascript">
            var _czc = _czc || [];
            _czc.push(['_setAccount', '1255976554'])
        </script>
        <% if (htmlWebpackPlugin.options.injectScripts) {
            htmlWebpackPlugin.options.injectScripts.forEach((val) => { %>
        <script>
            <%= require('fs').readFileSync(val) %>
        </script>
        <%  })
        } %>
    </head>

    <body>
        <!--[if lt IE 9]>
        <p class="browsehappy">您正使用过时的浏览器访问，可能有安全风险。建议您<a href="//browsehappy.osfipin.com/#" target="_balnk">升级浏览器</a>来获得更好的用户体验，发现一个全新的星光直播-真的能撩到主播的直播
        </p>
        <div class="update_browser_wrap">
            <span class="mask" style="background: #000!important;z-index:99999;"></span>
            <div class="content"style="z-index:999999;">
                <p>hi，您当前的浏览器版本过低，可能存在重大安全漏洞！</p>
                <h3>请立即<a href="//browsehappy.osfipin.com" target="_blank">升级浏览器</a></h3>
                <a href="//se.360.cn/" target="_blank" class="skip_btn">360浏览器</a>
            </div>
        </div>
        <![endif]-->

        <div class="header_wrap">
            <header-nav></header-nav>
        </div>
        
        <!-- html ejs / vue template -->
        <div id="app" v-cloak>
            <div class="page-bgs">
                <div class="page-bg bg1"></div>
                <div class="page-bg bg2"></div>
                <div class="page-bg bg3"></div>
                <div class="page-bg bg4"></div>
                <div class="page-bg bg5"></div>
            </div>
            <%= require('html-loader?attrs=false&interpolate=require!../mixin.html') %>
        </div>

        <script>
        ;(function adaptation () {
            var href = window.location
            if (/Android|webOS|iPhone|iPod|iPad|BlackBerry|Windows Phone|SymbianOS/i.test(navigator.userAgent)) {
                if (href.host.indexOf('www') >= 0) {
                    window.location.href = '//m.kuaishouvideo.com/dist' + href.pathname
                }
            } else {
                if (href.host.indexOf('www') < 0) {
                    window.location.href = '//www.kuaishouvideo.com' + href.pathname.replace('/dist', '')
                }
            }
        }());
        </script>
        <script type="text/javascript">
            var _hmt = _hmt || []

            ;(function() {
                function async_load_baidu () {
                    var hm = document.createElement('script')
                    hm.src = 'https://hm.baidu.com/hm.js?a17ccf7bc3d9be2ed6f415dfe67056f0'
                    var s = document.getElementsByTagName('script')[0]
                    s.parentNode.insertBefore(hm, s)
                }
                function async_load_cnzz () {
                    var cz = document.createElement('script')
                    cz.src = '//s11.cnzz.com/z_stat.php?id=1255976554&web_id=1255976554'
                    cz.async = true
                    document.getElementsByTagName('body')[0].appendChild(cz)
                }

                async_load_cnzz()
                async_load_baidu()
            })();
        </script>
        
        <% if (htmlWebpackPlugin.options.externals) {
            htmlWebpackPlugin.options.externals.forEach((val) => {  %>
        <script src="<%= val %>"></script>
        <%  })
        } %>
    </body>
</html>
